.top-section .container,
.bottom-section .container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.top-section {
  background-color: #333;
  color: #fff;
  padding: 50px 0;
  text-align: center;
}

.bottom-section {
  overflow-x: auto; /* Allows horizontal scrolling */
}

.profile {
  flex: 0 0 auto; /* Prevents profiles from auto stretching */
  max-width: 100%; /* Sets the maximum width of the profile */
  padding: 0 10px; /* Adds some space between profiles */
}

.profile img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.about p {
  font-size: 1.5rem;
  font-family: "Poppins-Regular";
}

@media (max-width: 500px) {
  .about p {
    font-size: 1rem;
    font-family: "Poppins-Regular";
  }

  .bottom-section .row {
    flex-wrap: wrap; /* Allows items to wrap to the next line */
    justify-content: center; 
  }

  .bottom-section .profile {
    flex: 0 0 100%; /* Sets the width of the profile to 100% */
    max-width: 100%; /* Sets the maximum width of the profile */
    padding: 10px 0; /* Adds vertical padding for separation */
    margin-bottom: 10px;/* Centers the items */
  }
}
